<section class="container" id="AddProduct">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">

                    <div class="errors">
                        <% if (req.session.flash && req.session.flash.error) { %>
                            <div class="alert alert-danger">
                                <%=req.flash('error')%>
                            </div>
                        <% } %>
                    </div>

                    <form class="form-type-new" action="/producttype/create" method="post">
                        <div class="form-group md-form">
                            <input class="form-control" type="text" name="name" value="" id="NameField">
                            <label for="NameField">Nome</label>
                        </div>
                        <div class="form-group md-form">
                            <input class="form-control" type="text" name="version" value="" id="VersionField">
                            <label for="VersionField">Versão</label>
                        </div>

                        <input type="hidden" name="_csrf" value="<%= _csrf %>"></input>

                        <div class="form-group md-form">
                            <button type="submit" class="btn btn-primary btn-full-width" name="button">CADASTRAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
