<!--/.Navbar-->
<section id="MainSection">
    <div class="container">
        <div class="" id="Results">
            <div class="row">
                <div class="col-md-3">
                    <div class="each-result">
                        <!--Card-->
                        <div class="card">

                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="https://www.o2.co.uk/shop/homepage/images/shop15/brand/apple/iphone-7-plus/apple-iphone-7-plus-gallery-img-6.jpg" class="img-fluid" alt="">
                                <a href="#">
                                    <div class="mask"></div>
                                </a>
                            </div>

                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">iPhone 6</h4>
                                <!--Text-->
                                <p class="card-text">
                                    iPhone em 처tima qualidade sem nenhum arranh찾o e sem problemas.

                                    <span class="price">
                                        <span>R$</span>
                                        1.600,00
                                    </span>
                                </p>

                                <div class="card-actions">
                                    <a href="#" class="btn btn-primary btn-glass">Detalhes</a>
                                </div>

                            </div>

                        </div>
                        <!--/.Card-->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="each-result">
                        <!--Card-->
                        <div class="card">
                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="https://www.o2.co.uk/shop/homepage/images/shop15/brand/apple/iphone-7-plus/apple-iphone-7-plus-gallery-img-6.jpg" class="img-fluid" alt="">
                                <a href="#">
                                    <div class="mask"></div>
                                </a>
                            </div>

                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">iPhone 5</h4>
                                <!--Text-->
                                <p class="card-text">
                                    iPhone em 처tima qualidade sem nenhum arranh찾o e sem problemas.

                                    <span class="price">
                                        <span>R$</span>
                                        1.600,00
                                    </span>
                                </p>

                                <div class="card-actions">
                                    <a href="#" class="btn btn-primary">Detalhes</a>
                                </div>

                            </div>

                        </div>
                        <!--/.Card-->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="each-result">
123
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="each-result">
dasd
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="each-result">

                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
