<!DOCTYPE html>
<html>
    <head>
      <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

        <!-- Viewport mobile tag for sensible mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!--STYLES-->
        <link rel="stylesheet" href="/floatingbutton/mfb.min.css">
        <link rel="stylesheet" href="/styles/importer.css">
        <link rel="stylesheet" href="/styles/iphonesell_compiled.css">
        <link rel="stylesheet" href="/materialdesign/css/bootstrap.css">
        <link rel="stylesheet" href="/materialdesign/css/bootstrap.min.css">
        <link rel="stylesheet" href="/materialdesign/css/mdb.css">
        <link rel="stylesheet" href="/materialdesign/css/mdb.min.css">
        <link rel="stylesheet" href="/materialdesign/css/style.css">
        <!--STYLES END-->
        <link rel="stylesheet" href="/prehome/prehome.css">

    </head>

    <body>
        <div class="container">
            <%- body %>
        </div>
    </body>
    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->
</html>
