body {
    position: relative;

    .admin-area-btn{
        top: auto !important;
        bottom: 10px !important;
        color: $blue;
        i {
            font-size: 20px;
        }
    }

    .back-button {
        position: absolute;
        left: 20px;
        top: 20px;
        font-size: 23px;
        z-index: 999;

        a {
            color:rgba(0,0,0,.5);
        }
    }
    .title-of-page {
        text-align: center;
        margin-bottom: 30px;
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
        font-size: 20px;
        font-weight: bold;
        font-family: 'San Francisco';
    }
}

header {
    height: 400px;
    width: 100%;
    text-align:center;
    background-image: url('../../img/iphone.jpeg');
    background-position: center;
    background-size: cover;
    position: relative;

    .main-text {
        h1 {
            color: white;
            font-weight: 700;
            letter-spacing: .2px;
            text-shadow: 2px 2px 2px #353535;
            font-size: 50px;
            padding-top:36px;
        }
    }
    .logo {
        width: 150px;
        float: left;
        padding:12px;

        img {
            padding:7px 13px;
            width:100%;
            border: 1px solid white;
        }
    }
    nav {
        float: right;
        padding:15px;

        ul {
            li {
                display: inline;
                a {
                    padding:10px 15px;
                    color: white;
                    text-transform: uppercase;
                    font-size: 12px;
                    letter-spacing: .7px;
                    font-weight: 300;
                    transition: all 300ms ease-out;
                    border-bottom: 0;
                    display: block;

                    &:hover, &.active {
                        transition: all 300ms ease-out;
                        border-bottom: 1px solid $grey500;
                        color: white;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    .navbar {
        background-color: transparent;
    }

    .menu-filter {
        width:100%;
        height:60px;
        position: absolute;
        bottom: -30px;

        .card {
            background-color: rgba(255, 255, 255, 0.93);
            color: #5d5d5d;
            font-size: 17px;
            border-radius: 0;
            transition: all 300ms ease-out;

            &:hover {
                transition: all 300ms ease-out;
                background-color: rgba(255, 255, 255, 1);
            }
        }
    }

    &.small {
        height: 60px;
        margin-bottom: 30px !important;
        line-height: 55px;
    }
}

nav {
    img {
        height:40px;
        padding: 10px;
    }
}
#wrapper {
    margin-top:30px;
}

#MainSection {
    padding: 72px 16px;

    .each-result {
        cursor: pointer;
        transition: all 300ms ease-out;
        text-align: center;
        margin-bottom:36px;
        padding-bottom: 26px;

        .title {
            margin-top:6px;
            font-size: 18px;
            font-weight: 500;
        }

        .photo-section {
            height: 180px;
            width:100%;
            display:block;
            background-size: auto 100%;
            background-repeat: no-repeat;
            background-position: center center;

            .model-photo {
                height:100%;
                padding:12px 48px;
            }
        }

        .price {
            font-size: 18px;
        }

        .details-btn {
            margin-top:16px;
            display: block;
            width:60%;
            margin:16px auto;
        }

        &:hover {
            transition: all 300ms ease-out;
            transform: scale(1.01);
        }
    }
}



.admin-area-btn {
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;
    padding: 10px;
}

#LoginArea {
    margin-top:100px;

    .login-logo {
        padding:15px 30px;
    }

    .inputs {
        width:80% !important;
        margin: 0 auto;

        button {
            margin-top:25px;
        }

        .form-control{
            padding: 10px;
            margin-left: -10px;

            &:nth-child(1) {
                margin: 0;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                border: 1.2px solid black;

            }
            &:nth-child(2) {
                margin: 0;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                border: 1.2px solid black;
            }
        }
    }
}

.floating-button {
    display: block;
    position: absolute;
    right: 15px;
    bottom: 15px;
    background-color: $blue;
    border-radius: 50%;
    color: white;
    a {
        display: block;
        padding: 18px 22px 7px 22px;
        color: white;

        i {
            font-size:23px;
        }

        &:hover {
            color: white;
        }

    }

    &.higher {
        bottom: 100px !important
    }
}

#GoodThings {
    margin-top:-40px;
}
#AddProduct {
    margin-top:30px;
}

.page-title {
    font-size:19px;
    margin-top:0;
    padding-bottom:10px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.pointer {
    cursor: pointer !important;
}

.btn-rounded {
    border-radius: 50%;
    padding: 12px 14px;
}

.thumbnail-size{
    width:30px;
}

.product-details {
    .product-photo {
        float: none;
        height: 300px;
        padding: 36px;
        text-align: center;

        img {
            height:100%;
        }
    }
    .product-summary {
        text-align: center;
        h4 {
            margin-top:0;
        }
        .each-info {
            i {
                margin-right:8px;

                &.fa-mobile{
                    font-size:21px;
                }
            }
            margin-bottom:7px;
        }
    }

    .contact-info {
        width: 100%;
        display: inline-block;
        margin-top: 16px;
        background-color: #0d84ff;
        padding: 8px 10px;
        color: white;
    }
}

.each-row {
    cursor: pointer;
    transition: all 300ms ease-out;

    &:hover {
        transition: all 300ms ease-out;
        transform: scale(1.01);
    }
}
#SendSoldEmail {
    display: none;
}
#EmailSentSuccess {
    clear:both;
    display: none;

}
