$phone: 320px;
$tablet:768px;
$pcsmall:992px;
$desktop:1200px;



@media screen and (max-width: $pcsmall) {
    body {
        padding-bottom: 70px;
    }
    .navbar {
        width: 100% !important;
        background-color: rgba(35, 35, 35, 0.59) !important;
        margin: 0 !important;
        padding: 0 !important;
        padding-right: 0px !important;
    }
    .navbar-nav  a{
        width: 100%;
        font-size: 17px;
    }

    header .main-text h1 {
        padding-top:16px;
    }

    .menu-filter {
        display: none !important;
    }


}
@media screen and (max-width: $tablet) {
    .each-result-parent {
        width: 50% !important;
        padding: 50px 20px !important;

        .title {
            margin-top: 10px !important;
            font-size: 16px !important;
            line-height: 20px;
            font-weight: 600 !important;
            color: rgba(0,0,0,.7);
        }
        .photo-section {
            height:100px !important;
        }
    }
    .product-details {
        .product-photo {
            height:380px !important;
        }
        .product-summary {
            .each-info {

                .master-info {
                    font-size:29px;
                }
                .price {
                    font-size:27px;

                }
                .description {
                    font-size: 16px;
                }
            }

        }
        .call-info {
            display: none !important;

        }
        .btn-call {
            display: block !important;
        }
    }
}
