$phone: 320px;
$tablet:768px;
$pcsmall:992px;
$desktop:1200px;



@media screen and (max-width: $pcsmall) {
    body {
        padding-bottom: 70px;
    }
    .navbar {
        width: 100% !important;
        background-color: rgba(35, 35, 35, 0.59) !important;
        margin: 0 !important;
        padding: 0 !important;
        padding-right: 0px !important;
    }
    .navbar-nav  a{
        width: 100%;
        font-size: 17px;
    }

    header .main-text h1 {
        padding-top:16px;
    }

    .menu-filter {
        display: none !important;
    }


}
@media screen and (max-width: $tablet) {
    .product-details {
        .product-photo {
            float:none !important;
            margin-right: 0 !important;
            margin-bottom: 36px !important;

            img {
                width:100%;
            }
        }
        .product-summary {
            h4 {
            }

            .each-info {
                i {
                    margin-right:8px;

                    &.fa-mobile{
                        font-size:21px;
                    }
                }
                margin-bottom:7px;
            }
        }

        .contact-info {
            text-align: center;
        }
    }
}
