.img-responsive {
    max-width: 100%;
    height:auto;
    margin:0 auto;
}
 .btn-full-width {
     width:100%;
 }

.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:focus, .dropdown .dropdown-menu .dropdown-item:hover{
    color: black !important;
}
