.img-responsive {
    width: 100%;
    height:auto;
    margin:0 auto;
}
 .btn-full-width {
     width:100%;
 }

.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:focus, .dropdown .dropdown-menu .dropdown-item:hover{
    color: black !important;
}



body {
    background-color: #f5f5f5 !important;
}

.card {
    margin-bottom: 30px;

    .card-title {
        font-size: 19px;
        margin-top: 0;
        font-weight: 500;

        h4 {
            margin-top:0px;
        }
    }
    .price {
        font-size: 22px;
        display: block;
        color: #2196f3;
        font-weight: 300;

        span {
            font-size: 12px;
        }
    }

    .floating-card-button {
        position: absolute;
        top: -10px;
        right: 20px;
        a {
            padding: 10px 16px;
            border-radius: 50%;
            background-color: #2196f3;
            color: white;
        }

    }

    .bg-image {
        height: 230px;
        background-size: cover;
        background-position: center
    }
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.mfb-component__button--main,
.mfb-component__button--child  {

    i {
        line-height: 56px !important;

        &:hover {
            color:white;
        }
    }

    &:hover:not(.mfb-component__button--main) {
        background-color: $blue800;
    }

}
.marign-0{
    margin: 0 !important;
}
.input-group-addon {
    background: white !important;
    border: 0;
    border-top: 0 !important;
    border-left:0 !important;
    border-right:0 !important;
    border-bottom: 1px solid #bdbdbd!important;
}
