@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
* {
  font-family: "Roboto", sans-serif; }

/* BACKGROUNDS */
.gray-bg {
  background-color: #E0E0E0; }

.white-bg {
  background-color: #fff; }

.blue-bg {
  background-color: #2196F3;
  color: #fff; }

.blue-dark-bg {
  background-color: #0D47A1;
  color: #fff; }

.blue-md-bg {
  background-color: #1976D2;
  color: #fff; }

.yellow-bg {
  background-color: #FFEB3B;
  color: #000; }

.red-bg {
  background-color: #F44336;
  color: #ffffff; }

.black-bg {
  background-color: #000; }

/* COLORS */
.gray-color,
.gray-color:hover {
  color: #E0E0E0; }

.white-color,
.white-color:hover {
  color: #fff; }

.green-color,
.green-color:hover {
  color: #4CAF50; }

.blue-color,
.blue-color:hover {
  color: #2196F3; }

.blue-dark-color,
.blue-color:hover {
  color: #0D47A1; }

.blue-md-color,
.blue-color:hover {
  color: #1976D2; }

.yellow-color,
.yellow-color:hover {
  color: #FBC02D; }

.red-color,
.red-color:hover {
  color: #F44336; }

.black-color,
.black-color:hover {
  color: #000; }

.orange-color,
.orange-color:hover {
  color: #FF9800; }

nav img {
  height: 40px;
  padding: 10px; }

#wrapper {
  margin-top: 30px; }

#MainSection {
  padding: 58px 16px; }
  #MainSection .card .price {
    font-size: 22px;
    margin-top: 10px;
    display: block;
    color: #2196f3; }
    #MainSection .card .price span {
      font-size: 12px; }

.admin-area-btn {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: #2196F3; }

#LoginArea {
  margin-top: 100px; }
  #LoginArea .login-logo {
    padding: 15px 30px; }

.floating-button {
  display: block;
  position: absolute;
  right: 15px;
  bottom: 15px;
  background-color: #2196F3;
  border-radius: 50%;
  color: white; }
  .floating-button a {
    display: block;
    padding: 18px 22px 7px 22px;
    color: white; }
    .floating-button a i {
      font-size: 23px; }
    .floating-button a:hover {
      color: white; }
  .floating-button.higher {
    bottom: 100px !important; }

#GoodThings {
  margin-top: -40px; }

#AddProduct {
  margin-top: 30px; }

.img-responsive {
  max-width: 100%;
  height: auto;
  margin: 0 auto; }

.btn-full-width {
  width: 100%; }

.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:focus, .dropdown .dropdown-menu .dropdown-item:hover {
  color: black !important; }

header {
  height: 300px;
  width: 100%;
  text-align: center;
  background: -moz-linear-gradient(left, #e7c138 0%, #efcb4b 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #e7c138), color-stop(100%, #efcb4b));
  background: -webkit-linear-gradient(left, #e7c138 0%, #efcb4b 100%);
  background: -o-linear-gradient(left, #e7c138 0%, #efcb4b 100%);
  background: -ms-linear-gradient(left, #e7c138 0%, #efcb4b 100%);
  background: linear-gradient(to right, #e7c138 0%, #efcb4b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7c138', endColorstr='#efcb4b', GradientType=1 ); }
  header .navbar {
    background-color: transparent; }
  header .main-banner {
    height: 100%; }
    header .main-banner img {
      height: 100%;
      width: auto; }

body {
  background-color: #f5f5f5 !important; }

.card {
  margin-bottom: 30px; }

/*# sourceMappingURL=iphonesell_compiled.css.map */
