@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
* {
  font-family: "Roboto", sans-serif; }

/* BACKGROUNDS */
.gray-bg {
  background-color: #E0E0E0; }

.white-bg {
  background-color: #fff; }

.green-bg {
  background-color: #4CAF50;
  color: #fff; }

.blue-bg {
  background-color: #4285f4;
  color: #fff; }

.blue-dark-bg {
  background-color: #0D47A1;
  color: #fff; }

.blue-md-bg {
  background-color: #1976D2;
  color: #fff; }

.yellow-bg {
  background-color: #FFEB3B;
  color: #000; }

.red-bg {
  background-color: #F44336;
  color: #ffffff; }

.black-bg {
  background-color: #000; }

/* COLORS */
.gray-color,
.gray-color:hover {
  color: #E0E0E0; }

.white-color,
.white-color:hover {
  color: #fff; }

.green-color,
.green-color:hover {
  color: #4CAF50; }

.blue-color,
.blue-color:hover {
  color: #4285f4; }

.blue-dark-color,
.blue-color:hover {
  color: #0D47A1; }

.blue-md-color,
.blue-color:hover {
  color: #1976D2; }

.yellow-color,
.yellow-color:hover {
  color: #FBC02D; }

.red-color,
.red-color:hover {
  color: #F44336; }

.black-color,
.black-color:hover {
  color: #000; }

.orange-color,
.orange-color:hover {
  color: #FF9800; }

body {
  position: relative; }
  body .admin-area-btn {
    top: auto !important;
    bottom: 10px !important;
    color: #4285f4; }
    body .admin-area-btn i {
      font-size: 20px; }

header {
  height: 400px;
  width: 100%;
  text-align: center;
  background-image: url("../../img/iphone.jpeg");
  background-position: center;
  background-size: cover;
  position: relative; }
  header .main-text h1 {
    color: white;
    font-weight: 700;
    letter-spacing: .2px;
    text-shadow: 2px 2px 2px #353535;
    font-size: 50px;
    padding-top: 36px; }
  header .logo {
    width: 150px;
    float: left;
    padding: 12px; }
    header .logo img {
      padding: 7px 13px;
      width: 100%;
      border: 1px solid white; }
  header nav {
    float: right;
    padding: 15px; }
    header nav ul li {
      display: inline; }
      header nav ul li a {
        padding: 10px 15px;
        color: white;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: .7px;
        font-weight: 300;
        transition: all 300ms ease-out;
        border-bottom: 0;
        display: block; }
        header nav ul li a:hover, header nav ul li a.active {
          transition: all 300ms ease-out;
          border-bottom: 1px solid #9E9E9E;
          color: white;
          font-weight: 500; }
  header .navbar {
    background-color: transparent; }
  header .menu-filter {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: -30px; }
    header .menu-filter .card {
      background-color: rgba(255, 255, 255, 0.93);
      color: #5d5d5d;
      font-size: 17px;
      border-radius: 0;
      transition: all 300ms ease-out; }
      header .menu-filter .card:hover {
        transition: all 300ms ease-out;
        background-color: white; }
  header.small {
    height: 60px;
    margin-bottom: 30px !important;
    line-height: 55px; }

nav img {
  height: 40px;
  padding: 10px; }

#wrapper {
  margin-top: 30px; }

#MainSection {
  padding: 72px 16px; }
  #MainSection .each-result {
    cursor: pointer;
    transition: all 300ms ease-out; }
    #MainSection .each-result:hover {
      transition: all 300ms ease-out;
      transform: scale(1.01); }

.admin-area-btn {
  position: absolute;
  left: 10px;
  top: 10px;
  color: white;
  padding: 10px; }

#LoginArea {
  margin-top: 100px; }
  #LoginArea .login-logo {
    padding: 15px 30px; }

.floating-button {
  display: block;
  position: absolute;
  right: 15px;
  bottom: 15px;
  background-color: #4285f4;
  border-radius: 50%;
  color: white; }
  .floating-button a {
    display: block;
    padding: 18px 22px 7px 22px;
    color: white; }
    .floating-button a i {
      font-size: 23px; }
    .floating-button a:hover {
      color: white; }
  .floating-button.higher {
    bottom: 100px !important; }

#GoodThings {
  margin-top: -40px; }

#AddProduct {
  margin-top: 30px; }

.page-title {
  font-size: 19px;
  margin-top: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.pointer {
  cursor: pointer !important; }

.btn-rounded {
  border-radius: 50%;
  padding: 12px 14px; }

.thumbnail-size {
  width: 30px; }

.product-details .product-photo {
  float: left;
  margin-right: 18px;
  margin-bottom: 36px; }
  .product-details .product-photo img {
    width: 100%; }
.product-details .product-summary h4 {
  margin-top: 0; }
.product-details .product-summary .each-info {
  margin-bottom: 7px; }
  .product-details .product-summary .each-info i {
    margin-right: 8px; }
    .product-details .product-summary .each-info i.fa-mobile {
      font-size: 21px; }
.product-details .contact-info {
  width: 100%;
  display: inline-block;
  margin-top: 16px;
  background-color: #0d84ff;
  padding: 8px 10px;
  color: white; }

.each-row {
  cursor: pointer;
  transition: all 300ms ease-out; }
  .each-row:hover {
    transition: all 300ms ease-out;
    transform: scale(1.01); }

.img-responsive {
  width: 100%;
  height: auto;
  margin: 0 auto; }

.btn-full-width {
  width: 100%; }

.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:focus, .dropdown .dropdown-menu .dropdown-item:hover {
  color: black !important; }

body {
  background-color: #f5f5f5 !important; }

.card {
  margin-bottom: 30px; }
  .card .card-title {
    font-size: 19px;
    margin-top: 0;
    font-weight: 500; }
    .card .card-title h4 {
      margin-top: 0px; }
  .card .price {
    font-size: 22px;
    display: block;
    color: #2196f3;
    font-weight: 300; }
    .card .price span {
      font-size: 12px; }
  .card .floating-card-button {
    position: absolute;
    top: -10px;
    right: 20px; }
    .card .floating-card-button a {
      padding: 10px 16px;
      border-radius: 50%;
      background-color: #2196f3;
      color: white; }
  .card .bg-image {
    height: 230px;
    background-size: cover;
    background-position: center; }

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }

.mfb-component__button--main i,
.mfb-component__button--child i {
  line-height: 56px !important; }
  .mfb-component__button--main i:hover,
  .mfb-component__button--child i:hover {
    color: white; }
.mfb-component__button--main:hover:not(.mfb-component__button--main),
.mfb-component__button--child:hover:not(.mfb-component__button--main) {
  background-color: #1565C0; }

.marign-0 {
  margin: 0 !important; }

.input-group-addon {
  background: white !important;
  border: 0;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-bottom: 1px solid #bdbdbd !important; }

.form-group label.error {
  font-size: 10px;
  color: red;
  left: auto;
  right: 0; }

.navbar.no-shadow {
  box-shadow: none !important; }

@media screen and (max-width: 992px) {
  body {
    padding-bottom: 70px; }

  .navbar {
    width: 100% !important;
    background-color: rgba(35, 35, 35, 0.59) !important;
    margin: 0 !important;
    padding: 0 !important;
    padding-right: 0px !important; }

  .navbar-nav a {
    width: 100%;
    font-size: 17px; }

  header .main-text h1 {
    padding-top: 16px; }

  .menu-filter {
    display: none !important; } }
@media screen and (max-width: 768px) {
  .product-details .product-photo {
    float: none !important;
    margin-right: 0 !important; }
  .product-details .contact-info {
    text-align: center; } }

/*# sourceMappingURL=iphonesell_compiled.css.map */
