<div id="LoginArea">
    <div class="row justify-content-md-center">
        <div class="col-md-3">
            <div>
                <div>
                            <!-- Login form -->
                    <form action="/session/create" method="post">

                        <div class="errors">
        					<% if(flash && flash.err) { %>
        						<ul class="alert alert-success">
        							<% Object.keys(flash.err).forEach(function(error) { %>
        								<li><%= JSON.stringify(flash.err[error].message) %></li>
        							<% }) %>
        						</ul>
        					<% } %>
        				</div>

                        <p class="h5 text-center mb-4">
                            <img src="../img/logo-yellowbg.png" alt="" class="img-responsive login-logo">
                        </p>

                        <div class="inputs">

                            <input type="text" id="defaultForm-email" class="form-control" name="email">
                            <input type="password" id="defaultForm-pass" class="form-control" name="password">

                            <div class="text-center">
                                <button class="btn btn-warning black-color">ENTRAR</button>
                            </div>
                        </div>

                        <input type="hidden" name="_csrf" value="<%= _csrf %>"></input>

                    </form>
                    <!-- Login form -->
                </div>
            </div>
        </div>

    </div>
</div>
